$compliment-color: #E7B355;
$btn-color: #C72254;

#profile-history {
  flex: 0.6;
  color: black;
  align-self: start;
  background-color: $compliment-color;
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 30px;

  h3 {
    flex: 0.15;
    margin-top: 10px;
  }
  div {
    flex: 0.5;
  }
  form {
    flex: 0.2;
    justify-self: baseline;
  }
  button {
    width: 50%;
    height: 40px;
    background-color: $btn-color;
    padding: 10px;
    color: white;
    border-bottom: white;
    border-bottom-style: solid;
  }
  button:hover {
    background-color: white;
    color: $btn-color;
    border-bottom: $btn-color;
    border-bottom-style: solid;
  }
}